GOOGLE_API_KEY = "****************************************************" #use LLM as per your choice

MISTRAL_API_KEY = "**************************************************"

TAVILY_API_KEY = "****************************************************"

OPENROUTER_API_KEY="*****************************************************"


